header.banner {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  top: 0;
  transition: all 0.2s ease-in-out;
  line-height: 1;

  nav.navbar-primary {
    z-index: 100;
    border-bottom: none;
    transition: background 0.3s ease-in-out;
    transition-property: background, height, padding;
    right: 0;
    left: 0;
    margin-top: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100vh;
    @include media-breakpoint-up(md) {
      padding: 2.5rem 5rem;
    }

    

    .navbar-brand {
      padding: 3px 0 5px;
      margin-right: 0;

      img,
      svg {
        width: 100%;
        max-width: 130px;
        transition: all 0.2s ease-in-out;

        @include media-breakpoint-up(md) {
          max-width: 330px;
        }

        @include media-breakpoint-up(lg) {
          //height: 120px;
        }

        @include media-breakpoint-up(xl) {
          //height: 38px;
        }
      }
    }

    .navbar-toggler {
      outline: none;
      border-radius: 0;
      border: none;
      background: transparent;
      padding: 0;
      transition: all 0.3s ease-in-out;
      color: $white;
      height: auto;
      width: 85px;
      white-space: nowrap;

      .btn-text {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        margin-right: 4px;
        top: -3px;
        position: relative;
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        .btn-text {
          opacity: $hamburger-hover-opacity;
          @include media-breakpoint-up(xl) {
            opacity: 1;
          }
        }
      }
    }

    .navbar-bottom {
      border-top: solid 1px rgba($white, 0.3);
      width: 100%;
      text-align: left;

      a {
        color: $white;
        display: inline-block;
        margin-right: 2rem;
        transition: all 0.2s linear;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }

        &:hover {
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }

    .navbar-collapse {
      //background-color: $dark;
      height: auto !important;
      //position: fixed;
      // top: 0;
      // left: 0;
      // bottom: 0;
      // right: 0;
      z-index: -1;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      overflow: auto;
      padding: 0 6vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      align-items: flex-start;
      @include media-breakpoint-up(md) {
        
        //background-color: transparent;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: -1px;
      }

      >ul {
        //padding-top: calc(40px + 10vh);
        text-align: left;
        // padding-top: 5rem;
        // padding-bottom: 3rem;

        li {

          padding: 0 !important;
          margin: 7px 0;
          max-width: 280px;
          margin-left: 0 !important;

          @include media-breakpoint-up(md) {
            margin: 0.6em 0 0.6em 15px;
            max-width: none;
          }

          .nav-link {
            font-weight: bold;
            //text-transform: uppercase;
            text-align: left;
            padding: 0.5rem 0;
            //border-radius: 0;
            font-size: 1.4rem;
            position: relative;
            white-space: nowrap;
            bottom: -2px;
            opacity: 1;
            color: $white;
            transition: all 0.2s linear;
            display: inline-block;
            @extend .primary-tit;
            @include media-breakpoint-up(md) {
              //font-size: 0.9rem;
              padding: 0.5em 0;
            }

            @include media-breakpoint-up(lg) {
              font-size: 2rem;
              padding: 0.2em 0;
            }

            @include media-breakpoint-up(xl) {
              font-size: 3.75rem;
              //padding: 0.5em 0.8em;
            }

            @include media-breakpoint-up(xxl) {
              font-size: 2.65vw;
              //padding: 0.5em 0.8em;
            }

            &:hover {
              opacity: 0.75;
            }
          }

          &.btn-outline-primary {
            .nav-link {
              color: theme-color("primary");
              font-weight: 700;

              &:hover {
                color: $black !important;
              }
            }
          }

          &.active.btn-outline-primary {
            background: transparent;

            //  @include border-gradient(left, $gradient-green-light, $gradient-green-dark, 3px);
            //background-color: $red;
            .nav-link {
              &:hover {
                color: $black !important;
              }
            }
          }

          &.active:not(.btn-outline-primary) {
            color: $primary !important;
            background: transparent;

            // color: $primary !important;
            .nav-link {
              color: $primary !important;
              opacity: 1 !important;
            }
          }
        }
      }

      .navbar-top {
        padding: 1em 0 100vh;
        text-align: center;

        @include media-breakpoint-up(md) {
          position: absolute;
          top: -1.8rem;
          right: 0;
          padding: 0;
        }

        @include media-breakpoint-up(lg) {
          top: -3rem;
        }

        .navbar-social {
          padding: 1rem 0 2rem;

          //border-bottom: solid 2px $gray-800;
          @include media-breakpoint-up(md) {
            display: inline-block;
            border-bottom: none;
          }

          a.hashtag {
            color: $white;
            display: block;
            margin-top: 1rem;
            text-transform: uppercase;
            font-size: 1.29rem;

            @include media-breakpoint-up(md) {
              font-size: 1rem;
              margin-right: 2rem;
            }
          }

          img {
            width: 26px;
            height: auto;
            margin: 0 0.25rem;
            transition: all 0.2s ease-in-out;

            //transform: rotate3d(0,0,0,0);
            &:hover {
              //margin-top: -3px;
              opacity: 0.9;
              // transform: scale(1.05,1.05);
            }
          }
        }

        //.navbar-social
        .navbar-language {
          margin: 0.5em 0 0.5em;

          @include media-breakpoint-up(md) {
            //display: inline-block;
            margin-left: 2rem;
          }
        }
      }

      &.collapsing,
      &.show {
        //background: $dark;
        @extend .d-md-flex;
        @extend .flex-row;
      }

      &.show {
        opacity: 1;
        transition: all
      }

      &.collapsing:not(.show) {
        opacity: 0;
        //top: -70px;
      }
    }

    &.menu-open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: $dark;
      .navbar-collapse {
        opacity: 1;
        padding: 0 6vw;
      }

      .navbar-left,
      .navbar-right {
        visibility: visible !important;
        opacity: 1 !important;
        transform: matrix(1, 0, 0, 1, 0, 0) !important;
      }

      .navbar-social {
        display: inline-block !important;
      }
    }
  }

  &.nav-up {
    top: -100px;

    @include media-breakpoint-up(xl) {
      top: -180px;
    }

    nav.navbar {
      .navbar-right .navbar-social {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  &.nav-bg {
    background-color: rgba($black, 0.7);

    nav.navbar {

      //padding-top: 2vw;
      //padding-bottom: 2vw;
      // @include media-breakpoint-up(sm) {
      //   padding-bottom: 1vw;
      //   padding-top: 1vw;
      // }

      .navbar-right .navbar-social {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}
