/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

//from here begins export from https://bootstrap.build/app
$gray-100: #f6f6f6;
$gray-200: #eaebeb;
$gray-300: #dadada;
$gray-600: #818181;
$gray-900: #272727;
$yellow: #edece6;
$orange: #ffa800;
$black: #000;
$white: #fff;
$red: #a81b33;

$primary: $orange;
$secondary: $red;
$light: $white;
$dark: $gray-900;
$body-bg: $yellow;
$body-color: $dark;

$link-color: $light;
$link-color-menu-active: $orange;

$spacer: 5rem;

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1600px );
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl:1400px );

// Fonts family
$font-family-tit-primary: "escrow-banner", serif;
$font-family-tit-secondary: "agency-fb", sans-serif;
$font-family-body: "navigo", sans-serif;

// Fonts dimensions
$font-family-sans-serif: $font-family-body;
$headings-font-weight: 700;
$headings-line-height: 1.15;
$headings-font-family: $font-family-tit-primary;

$lead-font-weight: 700;
$small-font-size: 70%;


// Hamburgers vars
$hamburger-layer-color: $light !default;
$hamburger-hover-opacity: 0.7 !default;